
* {
	font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN','Osaka','Meiryo UI','Yu Gothic UI','Helvetica','Arial Black',sans-serif;
	color: #111111;
}

#colorList {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 32px 64px;
	box-sizing: border-box;
}

.list {
	width: 100%;
	border: 1px solid #000000;
	margin: 0 0 2em;
	display: table;
}

h2 {
	flex-basis: 100%;
	padding: 0.2em 1em;
	margin: 0;
}

.list p {
	min-width: 128px;
	height: 3em;
	text-align: center;
	flex: auto;
	padding: 1em auto;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

