* {
    font-family: Consolas, 'Courier New', Courier, Monaco, "メイリオ", "游ゴシック", monospace;
}

body {
    max-width       : 100vw;
    background      : #FFFFFF;
    background-image: linear-gradient(#F5F5F5 1px, transparent 0), linear-gradient(90deg, #F5F5F5 1px, transparent 0);
    background-size : 20px 20px;
    margin          : 0;
}